<!--   <div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchVenue.query }}</p>
    <p>Results: {{ filteredVenues.results }}</p>
  </div> -->

  <h1>Venues in UP Diliman</h1>
  <br>

  <label>Building</label>
    <select id="bldg" name="show-filter" ng-model="searchVenue.query.Bldg" placeholder="Building" 
    ng-options="venue.Bldg as venue.Bldg for venue in venues | unique:'Bldg'"
    >
    <option value="">-- choose Building --</option>
  </select>

<!--   <label>Capacity</label>
    <select id="cap" name="show-filter" ng-model="searchVenue.query.Capacity" placeholder="Capacity" 
    ng-options="venue.Capacity as venue.Capacity for venue in venues | unique:'Capacity'"
    >
    <option value="">-- choose Capacity --</option>
  </select>
 -->
 <label>Capacity</label>
 <input type="text"  ng-model="capacityInput.val" ng-trim="false" ng-change="capacityInputChange(capacityInput.val)">

<!--   <label>Lights</label>
    <select id="lights" name="show-filter" ng-model="searchVenue.Lights" placeholder="Lights" 
    ng-options="venue.Lights as venue.Lights for venue in venues | unique:'Lights'"
    >
    <option value=""> Lights? </option>
  </select> -->

  <label>Lights</label> 
  <input type="checkbox" ng-model="lightsCheckbox.yn" ng-true-value="'Yes'" ng-false-value="''" ng-change="lightsCbChange()">

    <!-- <label>Sounds</label>
    <select id="sounds" name="show-filter" ng-model="searchVenue.Sounds" placeholder="Sounds" 
    ng-options="venue.Sounds as venue.Sounds for venue in venues | unique:'Sounds'"
    >
    <option value="">Sounds?</option>
  </select> -->

  <label>Sounds</label> 
  <input type="checkbox" ng-model="soundsCheckbox.yn" ng-true-value="'Yes'" ng-false-value="''" ng-change="soundsCbChange()">

    <!-- <label>LCD</label>
    <select id="lcd" name="show-filter" ng-model="searchVenue.LCD" placeholder="LCD" 
    ng-options="venue.LCD as venue.LCD for venue in venues | unique:'LCD'"
    >
    <option value=""> LCD? </option>
  </select> -->

  <label>LCD</label> 
  <input type="checkbox" ng-model="lcdCheckbox.yn" ng-true-value="'Yes'" ng-false-value="''" ng-change="lcdCbChange()">

  <button ng-click="resetSearch()">
  Reset Search
</button>
<br>
<br>

<!--Alert if query has no results-->
<div class="row row_noquery" ng-show="noQueryResults(filteredVenues.results)">
<!-- <div class="row row_noquery"> -->
  <div class="noqueryresults">
    <h1>No Results!<br>
    Resetting Query...
    </h1>
  </div>
</div>

<leaflet lf-center="center" width="100%" height="480px" layers="layers" markers="markers" maxbounds="maxbounds.maxbounds"></leaflet>
<br>
<br>
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'ID'; sortReverse = !sortReverse">

            Id
            <span ng-show="sortType == 'ID' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'ID' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">

            Name
            <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Building'; sortReverse = !sortReverse">
          Building
          <span ng-show="sortType == 'Building' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Building' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Capacity'; sortReverse = !sortReverse">
          Capacity
          <span ng-show="sortType == 'Capacity' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Capacity' && sortReverse" class="fa fa-caret-up"></span> 
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Available_Hours'; sortReverse = !sortReverse">
          Available Hours
          <span ng-show="sortType == 'Available_Hours' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Available_Hours' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Contact_Details'; sortReverse = !sortReverse">
          Contact Details
          <span ng-show="sortType == 'Contact_Details' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Contact_Details' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Lights'; sortReverse = !sortReverse">
          Lights
          <span ng-show="sortType == 'Lights' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Lights' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Sounds'; sortReverse = !sortReverse">
          Sounds
          <span ng-show="sortType == 'Sounds' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Sounds' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'LCD'; sortReverse = !sortReverse">
          LCD
          <span ng-show="sortType == 'LCD' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'LCD' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Rates_In'; sortReverse = !sortReverse">
          Rates Student/Alumni
          <span ng-show="sortType == 'Rates_In' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Rates_In' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Rates_Out'; sortReverse = !sortReverse">
          Rates Outsiders
          <span ng-show="sortType == 'Rates_Out' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Rates_Out' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Rates_Other'; sortReverse = !sortReverse">
          Rates Others
          <span ng-show="sortType == 'Rates_Other' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Rates_Other' && sortReverse" class="fa fa-caret-up"></span>
        </td>        
      </tr>
    </thead>
    
    <tbody>
       <tr ng-repeat="venue in ( filteredVenues.results = (venues | filter: searchVenue.query | capacityFilter:capacityInput.val )) |orderBy:sortType:sortReverse" >
        <td>{{ venue.ID }}</td>
        <td>{{ venue.Name }}</td>
        <td>{{ venue.Bldg }}</td>
        <td>{{ venue.Capacity }}</td>
        <td>{{ venue.Available_Hours }}</td>
        <td>{{ venue.Contact_Details }}</td>
        <td>{{ venue.Lights }}</td>
        <td>{{ venue.Sounds }}</td>
        <td>{{ venue.LCD }}</td>
        <td>{{ venue.Rates_In }}</td>
        <td>{{ venue.Rates_Out }}</td>
        <td>{{ venue.Rates_Other }}</td>
      </tr>
    </tbody>

    
  </table>
